.form-input {
  border-radius: 5px;
  height: 60px;
  padding: 0.5rem 1rem;
  appearance: none;
  outline: none;
  border: 1px solid transparent;
  background: #1f2431;
  color: #bcbdc1;
  font-size: 1rem;
}

.form-text {
  font-size: 0.75rem;
}
