@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './assets/css/reset.css';
@import './assets/scss/_variables.scss';
@import './assets/scss/_fonts.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

a {
  transition: all 0.2s;
}

.module-title {
  font-size: 1rem;
}
